server/bin/Debug/net6.0/appsettings.json
server/bin/Debug/net6.0/server
server/bin/Debug/net6.0/server.deps.json
server/bin/Debug/net6.0/server.dll
server/bin/Debug/net6.0/server.pdb
server/bin/Debug/net6.0/server.runtimeconfig.json
server/obj/project.assets.json
server/obj/project.nuget.cache
server/obj/server.csproj.nuget.dgspec.json
server/obj/server.csproj.nuget.g.props
server/obj/server.csproj.nuget.g.targets
server/obj/staticwebassets.pack.sentinel
server/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
server/obj/Debug/net6.0/apphost
server/obj/Debug/net6.0/server.AssemblyInfo.cs
server/obj/Debug/net6.0/server.AssemblyInfoInputs.cache
server/obj/Debug/net6.0/server.assets.cache
server/obj/Debug/net6.0/server.csproj.AssemblyReference.cache
server/obj/Debug/net6.0/server.csproj.CoreCompileInputs.cache
server/obj/Debug/net6.0/server.csproj.FileListAbsolute.txt
server/obj/Debug/net6.0/server.dll
server/obj/Debug/net6.0/server.GeneratedMSBuildEditorConfig.editorconfig
server/obj/Debug/net6.0/server.genruntimeconfig.cache
server/obj/Debug/net6.0/server.MvcApplicationPartsAssemblyInfo.cache
server/obj/Debug/net6.0/server.pdb
server/obj/Debug/net6.0/staticwebassets.build.json
server/obj/Debug/net6.0/ref/server.dll
server/obj/Debug/net6.0/refint/server.dll
